.profile-img {
  //max-height: 30px;
  max-width: 3rem;
  border-radius: 50%;
}

.feed {
  &-header {
    &-spacing {
      margin: 0 1rem 0 1rem;
    }
  }
  &-friend {
    &-images {
      display: flex;
      justify-content: center;
    }
  }
}

.clickable {
  cursor: pointer;
}
